.order {
  padding-right: 20px;
  margin-bottom: 20px;
}

.title_wrapper {
  margin-bottom: 10px;

  display: flex;
  justify-content: space-between;
}

.title_gray {
  color: #959595;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.title_white {
  color: #f3f4f0;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.card_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: max-content;
  height: max-content;

  background-color: #383838;
  border-radius: 10px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.28));
}

.card_bc {
  background-color: #242424;
}

.title_block {
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;

  background-color: #f3f4f0;
  border: 2px solid #242424;
  border-radius: 10px;
}

.icon {
  color: #14ad99;
}

.card_title {
  color: #383838;
  font-size: 13px;
  font-weight: 800;
}

.wrapper_card {
  padding: 4px 10px 10px 10px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modification_list {
  display: flex;
  flex-direction: column;
  gap: 6px;

  color: #f3f4f0;
  font-size: 12px;
  list-style: none;
}

.card_footer {
  display: flex;
  align-items: center;

  background-color: #000000;
  border-radius: 10px;
}

.button_block {
  padding: 10px 12px;

  display: flex;
  align-items: center;
  gap: 8px;

  background-color: #f3f4f0;
  border-radius: 10px;
}

.button {
  width: 16px;

  color: #14ad99;
  font-size: 20px;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.counter {
  font-size: 12px;
  font-weight: 800;
}

.price {
  padding: 10px;

  font-size: 12px;
  font-weight: 800;

  color: #f3f4f0;
}
