.input {
  padding: 4px 0;
  margin-bottom: 20px;

  width: 100%;

  background-color: transparent;
  border: none;
  border-bottom: 3px solid #383838;
  outline: none;
}

.input::placeholder {
  color: #959595;
  font-size: 14px;
  font-weight: 800;
}
