.header {
  position: fixed;
  top: 0;
  z-index: 10;

  color: #ffffff;

  background-color: #71d5be;
}

.nav {
  margin-top: 68px;

  border-bottom: 1px solid #959595;

  overflow: hidden;
}

.nav_item_wrapper {
  padding: 8px 0;

  display: flex;
  gap: 6px;

  color: #bebebe;

  cursor: pointer;
}

.nav_item {
  display: flex;
  gap: 6px;
  width: max-content;
}

.nav_item_active {
  color: #000000;

  border-bottom: 3px solid #ffb92a;
}

/* slider */

.mySwiper {
  margin-top: 12px;

  overflow: hidden;
}

.swiper_slide {
  height: auto;
}

.slider_title {
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
}

.slide {
  width: max-content;

  color: #000000;
  background-color: #383838;
  border-radius: 15px;
  filter: drop-shadow(2px 2px 2px #00000040);

  cursor: pointer;
}

.slide_content {
  padding: 12px 4px;

  display: flex;
  align-items: center;
  gap: 6px;

  background-color: #f3f4f0;
  border: 2px solid #383838;
  border-radius: 15px;
}

.slide_icon {
  width: 24px;
  height: 24px;

  background: url(../catalog/components/img/coffee-latte.png);
}

.slide_title {
  font-size: 13px;
  font-weight: 800;
  line-height: 16px;
}

.slider_wrapper {
  padding: 4px 10px;

  display: flex;
  justify-content: space-between;

  font-size: 10px;
  font-weight: 800;
  line-height: 14px;
}

.slide_count {
  color: #ffb92a;
}

.slide_price {
  color: #ffffff;
}

.slider_container {
  padding: 0 20px;
  margin-top: 14px;

  position: relative;
}
