.card_footer {
  display: flex;
  align-items: center;
  width: max-content;

  border-radius: 10px;
}

.button_block {
  display: flex;
  align-items: center;
  gap: 8px;

  background-color: #f3f4f0;
  border-radius: 10px;
}

.button {
  padding: 10px 12px;

  color: #14ad99;
  font-size: 20px;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.counter {
  font-size: 12px;
  font-weight: 800;
}

.price {
  padding: 10px;

  font-size: 12px;
  font-weight: 800;

  color: #f3f4f0;
}
