.win-enter {
  transform: translateY(100vh);
}
.win-enter-active {
  transform: translateY(0);
  transition: 400ms all;
}
.win-exit {
  transform: translateY(0);
}
.win-exit-active {
  transform: translateY(100vh);
  transition: 400ms all;
}
