.wrapper {
  margin-bottom: 32px;

  display: flex;
  align-items: center;
  gap: 8px;
}

.bc {
  height: 100vh;

  background-color: #027ec2;
}

.container {
  padding: 20px;
}

.back {
  background-color: #f3f4f0;
}

.page_name {
  color: #f3f4f0;
  font-weight: 800;
}

.user_card {
  padding: 20px;
  margin-bottom: 32px;

  background: #f3f4f0;
  border-radius: 15px;
}

.avatar {
  margin-bottom: 15px;

  width: 48px;
  height: 48px;

  background-image: url(./img/ava.png);
}

.name {
  margin-bottom: 11px;

  font-weight: 800;
}

.phone {
  color: #ffb92a;
  font-size: 13px;
  font-weight: 600;
}

.title {
  color: #f3f4f0;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.button {
  padding: 16px;

  display: flex;
  justify-content: center;

  color: #fe6a69;
  font-size: 14px;
  font-weight: 800;

  background-color: #f3f4f0;
  border: 2px solid #383838;
  border-radius: 10px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
}
