.header {
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.title {
  color: white;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
}

.title__green {
  color: #14ad99;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 14px;
}

.map {
  margin-right: 60px;

  color: white;
}

.logo {
  position: absolute;
  top: 0;
  right: 10px;

  width: 60px;
  height: 60px;
}
