.main_img {
  color: black;
}

.details {
  width: 100%;
  height: max-content;
}

.img {
  margin: auto;

  height: 334px;
  width: 375px;

  object-fit: cover;
  background-image: url(./components/img/bc-coffee.png);
  background-repeat: no-repeat;
}

.bc {
  position: absolute;
  z-index: -1;

  width: 100%;
  height: 100%;
  opacity: 20%;
}

.information_bc {
  background: url(./components/img/bc-inform.png);
}

.modification_bc {
  background: url(./components/img/bc-modif.png);
}

.banner {
  position: fixed;
  bottom: 0;

  width: 100%;
  height: max-content;

  border-radius: 15px 15px 0px 0px;
}

.information_banner {
  background-color: #000000;
}

.modification_banner {
  background-color: #ffc633;
}

.content {
  padding: 20px;
  margin-bottom: 86px;
}

.nav {
  margin-bottom: 24px;
}

.nav_list {
  padding: 0 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;

  border-bottom: 2px solid #383838;
}

.nav_item {
  padding: 6px 0;

  font-size: 14px;
  font-weight: 800;
  line-height: 20px;

  cursor: pointer;
}

.information_item {
  color: #bebebe;
}

.modification_item {
  color: #383838;
}

.nav_item_active {
  color: #f3f4f0;
}

.information_item_active {
  border-bottom: 2px solid #14ad99;
}

.modification_item_active {
  border-bottom: 2px solid #ff0000;
}

.container {
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 32px;

  font-size: 13px;
  font-weight: 600;
  line-height: 16px;

  background-color: #f3f4f0;
  border-radius: 10px;
}

.container_wrapper {
  display: flex;
  gap: 20px;
}

.container_list {
  margin-top: 12px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  color: #383838;
  list-style: none;
}

.container_title {
  color: #959595;
}

.container_price {
  color: #ff0000;
}

.card_bc {
  background-color: #383838;
}

.information_btn {
  color: #14ad99;
}

.modification_btn {
  color: red;
}
