.window-enter {
  transform: translateY(800px);
}
.window-enter-active {
  transform: translateY(0);
  transition: 500ms all;
}
.window-exit {
  transform: translateY(0);
}
.window-exit-active {
  transform: translateY(-800px);
  transition: 500ms all;
}
