.text {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 166px;

  font-size: 12px;
  font-weight: 500;
}

.checkbox {
  position: absolute;

  opacity: 0;
}

.new {
  position: relative;

  min-width: 20px;
  height: 20px;

  background-color: #f3f4f0;
  border: 2px solid #383838;
  border-radius: 5px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
}

.check_icon {
  position: absolute;
  bottom: 1px;
  left: 1px;

  display: none;
  width: 20px;
  height: 15px;

  background-image: url(./img/check.png);
}

.check_icon_visible {
  display: block;
}
